<a href="https://colab.research.google.com/github/rerebebeccacca/20210602class/blob/main/classification_iris.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd #
from sklearn.datasets import load_iris #從sklearn.datasets讀取辨識鳶野花
iris = load_iris() #讀取
# DataFrame:表格，Series:一行/一列
df=pd.DataFrame(iris["data"],
             columns=iris["feature_names"])
df["ans"] = iris["target"]
df.to_csv("iris.csv",encoding="utf-8",index=False) 
#存成csv的檔案（csv資料為每筆中間用逗點隔開）
#必打encoding，utf-8是萬國編碼（不用的話會顯現預設編碼ansi)
#index那邊不要顯示0~149

df #印出jupyter表格（比較美）
#print(df) #印出較醜的表格

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  ans
0                  5.1               3.5  ...               0.2    0
1                  4.9               3.0  ...               0.2    0
2                  4.7               3.2  ...               0.2    0
3                  4.6               3.1  ...               0.2    0
4                  5.0               3.6  ...               0.2    0
..                 ...               ...  ...               ...  ...
145                6.7               3.0  ...               2.3    2
146                6.3               2.5  ...               1.9    2
147                6.5               3.0  ...               2.0    2
148                6.2               3.4  ...               2.3    2
149                5.9               3.0  ...               1.8    2

[150 rows x 5 columns]