<a href="https://colab.research.google.com/github/rerebebeccacca/20210602-machine-learing/blob/main/cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
#要安裝其他函式庫的方法：

#!pip install graphviz

#!ls -al

In [13]:
import pandas as pd #
from sklearn.datasets import load_iris #從sklearn.datasets讀取辨識鳶野花
iris = load_iris() #讀取
# DataFrame:表格，Series:一行/一列
df=pd.DataFrame(iris["data"],
             columns=iris["feature_names"])

#存成csv的檔案（csv資料為每筆中間用逗點隔開）
#必打encoding，utf-8是萬國編碼（不用的話會顯現預設編碼ansi)
#index那邊不要顯示0~149

df #印出jupyter表格（比較美）
#print(df) #印出較醜的表格

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [14]:
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters=3)
cluster.fit(iris["data"])#給標籤

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [15]:
cluster.cluster_centers_
#中心標準平均的樣子，最後給那整群的虛擬點

array([[6.85      , 3.07368421, 5.74210526, 2.07105263],
       [5.006     , 3.428     , 1.462     , 0.246     ],
       [5.9016129 , 2.7483871 , 4.39354839, 1.43387097]])

In [16]:
cluster.labels_
#給的標籤

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0, 0,
       0, 0, 0, 2, 2, 0, 0, 0, 0, 2, 0, 2, 0, 2, 0, 0, 2, 2, 0, 0, 0, 0,
       0, 2, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 2], dtype=int32)

In [17]:
df["label"]=cluster.labels_
#save
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                  5.1               3.5  ...               0.2      1
1                  4.9               3.0  ...               0.2      1
2                  4.7               3.2  ...               0.2      1
3                  4.6               3.1  ...               0.2      1
4                  5.0               3.6  ...               0.2      1
..                 ...               ...  ...               ...    ...
145                6.7               3.0  ...               2.3      0
146                6.3               2.5  ...               1.9      2
147                6.5               3.0  ...               2.0      0
148                6.2               3.4  ...               2.3      0
149                5.9               3.0  ...               1.8      2

[150 rows x 5 columns]

In [19]:
# https://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html
from sklearn.metrics import silhouette_score
for testk in range(2,10):
  test = KMeans(n_clusters=testk)
  test.fit(iris["data"])
  score = silhouette_score(iris["data"],test.labels_)
  print(testk,":",score)
'''
選score最大的K值
'''

2 : 0.681046169211746
3 : 0.5528190123564091
4 : 0.4980505049972867
5 : 0.4887488870931048
6 : 0.3678464984712235
7 : 0.3542978877198838
8 : 0.3387447445910213
9 : 0.3355741946165104