<a href="https://colab.research.google.com/github/rerebebeccacca/20210602-machine-learing/blob/main/cluster.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#要安裝其他函式庫的方法：

#!pip install graphviz

#!ls -al

Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (0.10.1)
total 16
drwxr-xr-x 1 root root 4096 Jun  1 13:40 .
drwxr-xr-x 1 root root 4096 Jun  7 01:41 ..
drwxr-xr-x 4 root root 4096 Jun  1 13:40 .config
drwxr-xr-x 1 root root 4096 Jun  1 13:40 sample_data

In [4]:
import pandas as pd #
from sklearn.datasets import load_iris #從sklearn.datasets讀取辨識鳶野花
iris = load_iris() #讀取
# DataFrame:表格，Series:一行/一列
df=pd.DataFrame(iris["data"],
             columns=iris["feature_names"])

#存成csv的檔案（csv資料為每筆中間用逗點隔開）
#必打encoding，utf-8是萬國編碼（不用的話會顯現預設編碼ansi)
#index那邊不要顯示0~149

df #印出jupyter表格（比較美）
#print(df) #印出較醜的表格

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
from sklearn.cluster import KMeans
cluster = KMeans(n_clusters=3)
cluster.fit(iris["data"])

In [ ]:
cluster.cluster_centers_
#中心標準平均的樣子，最後給那整群的虛擬點

In [ ]:
cluster.labels_
#給他一個標籤去劃分

In [10]:
df["label"]=cluster.labels_
#save
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  label
0                  5.1               3.5  ...               0.2      0
1                  4.9               3.0  ...               0.2      0
2                  4.7               3.2  ...               0.2      0
3                  4.6               3.1  ...               0.2      0
4                  5.0               3.6  ...               0.2      0
..                 ...               ...  ...               ...    ...
145                6.7               3.0  ...               2.3      1
146                6.3               2.5  ...               1.9      2
147                6.5               3.0  ...               2.0      1
148                6.2               3.4  ...               2.3      1
149                5.9               3.0  ...               1.8      2

[150 rows x 5 columns]