<a href="https://colab.research.google.com/github/rerebebeccacca/20210602-machine-learing/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from  urllib.request import urlretrieve
url = "https://github.com/rerebebeccacca/20210602-machine-learing/raw/main/titanic/train.csv"
urlretrieve(url,"train.csv")
url = "https://github.com/rerebebeccacca/20210602-machine-learing/raw/main/titanic/test.csv"
urlretrieve(url,"test.csv")

('test.csv', <http.client.HTTPMessage at 0x7f5417deb310>)

In [7]:
import pandas as pd
train_df = pd.read_csv("train.csv",encoding="utf-8")
test_df = pd.read_csv("test.csv",encoding="utf-8")

In [8]:
# test_df
# train_df

In [13]:
#列編號重置
data = pd.concat([train_df,test_df],ignore_index=True)
data = data.drop(["PassengerId","Survived"],axis=1)

In [16]:
na = data.isna().sum()
#對Series做篩選
#Series[帶入跟你的資俵比數一樣多True/False list]
na[na > 0 ].sort_values(ascending=False )#sort_valusr排列

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [19]:
'''#篩選操作練習
s = pd.Series([1,2,3])
s[[True,False,False]]#外面[]篩選，裡面是list
'''

0    1
dtype: int64

In [26]:
'''練習
#lambda語法類似def
s = pd.Series([1,2,3])
# def func(n):
#   return n*n
s.apply(lambda n:n*n**3)#回傳值#功能跟def 一樣，但是用於幾行數值就能完成，遇到多數值就用def
'''

0     1
1    16
2    81
dtype: int64

In [47]:
#看cabin的資料
def cabin_head(s):
  if not pd.isna(s):#如果不是空值的話
    return s[0]

data["Cabin"] = data["Cabin"].apply(cabin_head)

In [56]:
#看Ticket資料
dic = data["Ticket"].value_counts()
# def ticket_count(t):
#   return t[0]
data["Ticket"] = data["Ticket"].apply(lambda t:dic[t])

In [61]:
#補缺失值（類別：缺失值會是補該欄位中的眾數，也就是最常出現的）[!如果一堆測試資料，不要重算，直接補S]，測試資料跟訓練資料要補一樣的值
most = data["Embarked"].value_counts().idxmax()#找最大值的索引index
data["Embarked"] = data["Embarked"].fillna(most)#fillna補空值
# most #如果去掉idxmax，印出可以得知欄位中出現的數量
na = data.isna().sum()
#對Series做篩選
#Series[帶入跟你的資俵比數一樣多True/False list]
na[na > 0 ].sort_values(ascending=False )#sort_valusr排列

Cabin    1014
Age       263
Fare        1
dtype: int64

In [64]:
#一、補缺失值（數值：中位數）
med = data.median().drop(["Pclass"])
data = data.fillna(med)
na = data.isna().sum()
#對Series做篩選
#Series[帶入跟你的資俵比數一樣多True/False list]
na[na > 0 ].sort_values(ascending=False )#sort_valusr排列

Cabin    1014
dtype: int64

In [ ]:
data

In [71]:
def name_convert(s):
  s = s.split(",")[-1].split(",")[0]
  s = s.strip()
  return s
counts = data["Name"].apply(name_convert).value_counts()
whitelist = counts[counts > 50].index
def name_convert(s):
  s = s.split(",")[-1].split(".")[0]
  s = s.strip()
  if s in whitelist:
    return s
  else:
    return None 
data["Name"] = data["Name"].apply(name_convert)

In [73]:

data = pd.get_dummies(data)#取得所有的欄位
data = pd.get_dummies(data, columns=["Pclass"])
data

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0     713  ...           1         0         0         1
1     38.0      1      0     264  ...           0         1         0         0
2     26.0      0      0     713  ...           1         0         0         1
3     35.0      1      0     264  ...           1         1         0         0
4     35.0      0      0     713  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0     713  ...           1         0         0         1
1305  39.0      0      0     147  ...           0         1         0         0
1306  38.5      0      0     713  ...           1         0         0         1
1307  28.0      0      0     713  ...           1         0         0         1
1308  28.0      1      1     147  ...           0         0         0         1

[1309 rows x 21 columns]

In [76]:
#模型建立完，後續的嘗試，只是老師嘗試過，所以老師直接做
data["Family"] = data["SibSp"] + data["Parch"]
data

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0     713  ...         0         0         1       1
1     38.0      1      0     264  ...         1         0         0       1
2     26.0      0      0     713  ...         0         0         1       0
3     35.0      1      0     264  ...         1         0         0       1
4     35.0      0      0     713  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0     713  ...         0         0         1       0
1305  39.0      0      0     147  ...         1         0         0       0
1306  38.5      0      0     713  ...         0         0         1       0
1307  28.0      0      0     713  ...         0         0         1       0
1308  28.0      1      1     147  ...         0         0         1       2

[1309 rows x 22 columns]

In [ ]:
#二、one-hot
#是否可以