<a href="https://colab.research.google.com/github/rerebebeccacca/20210602-machine-learing/blob/main/titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
from  urllib.request import urlretrieve
url = "https://github.com/rerebebeccacca/20210602-machine-learing/raw/main/titanic/train.csv"
urlretrieve(url,"train.csv")
url = "https://github.com/rerebebeccacca/20210602-machine-learing/raw/main/titanic/test.csv"
urlretrieve(url,"test.csv")

('test.csv', <http.client.HTTPMessage at 0x7f8c1b7f7290>)

In [80]:
import pandas as pd
train_df = pd.read_csv("train.csv",encoding="utf-8")
test_df = pd.read_csv("test.csv",encoding="utf-8")

In [81]:
# test_df
# train_df

In [82]:
#兩份資料連結，並重置列編號
data = pd.concat([train_df,test_df],ignore_index=True)
data = data.drop(["PassengerId","Survived"],axis=1)

In [83]:
na = data.isna().sum()
na
#對Series做篩選
#Series[帶入跟你的資料筆數一樣多True/False list]
na[na > 0 ].sort_values(ascending=False )#sort_valusr排列

Cabin       1014
Age          263
Embarked       2
Fare           1
dtype: int64

In [84]:
'''#篩選操作練習
s = pd.Series([1,2,3])
s[[True,False,False]]#外面[]篩選，裡面是list
'''

'#篩選操作練習\ns = pd.Series([1,2,3])\ns[[True,False,False]]#外面[]篩選，裡面是list\n'

In [85]:
'''練習
#lambda語法類似def
s = pd.Series([1,2,3])
# def func(n):
#   return n*n
s.apply(lambda n:n*n**3)#回傳值#功能跟def 一樣，但是用於幾行數值就能完成，遇到多數值就用def
'''

'練習\n#lambda語法類似def\ns = pd.Series([1,2,3])\n# def func(n):\n#   return n*n\ns.apply(lambda n:n*n**3)#回傳值#功能跟def 一樣，但是用於幾行數值就能完成，遇到多數值就用def\n'

In [86]:
#看cabin的資料
def cabin_head(s):
  if not pd.isna(s):#如果不是空值的話
    return s[0]

data["Cabin"] = data["Cabin"].apply(cabin_head)

In [87]:
#看Ticket資料
dic = data["Ticket"].value_counts()
# def ticket_count(t):
#   return t[0]
data["Ticket"] = data["Ticket"].apply(lambda t:dic[t])

In [88]:
#補缺失值（類別：缺失值會是補該欄位中的眾數，也就是最常出現的）[!如果一堆測試資料，不要重算，直接補S]，測試資料跟訓練資料要補一樣的值
most = data["Embarked"].value_counts().idxmax()#找最大值的索引index
data["Embarked"] = data["Embarked"].fillna(most)#fillna補空值
# most #如果去掉idxmax，印出可以得知欄位中出現的數量
na = data.isna().sum()
#對Series做篩選
#Series[帶入跟你的資俵比數一樣多True/False list]
na[na > 0 ].sort_values(ascending=False )#sort_valusr排列

Cabin    1014
Age       263
Fare        1
dtype: int64

In [89]:
#一、補缺失值（數值：中位數）
med = data.median().drop(["Pclass"])
data = data.fillna(med)
na = data.isna().sum()
#對Series做篩選
#Series[帶入跟你的資俵比數一樣多True/False list]
na[na > 0 ].sort_values(ascending=False )#sort_valusr排列

Cabin    1014
dtype: int64

In [90]:
data

      Pclass                                               Name  ... Cabin  Embarked
0          3                            Braund, Mr. Owen Harris  ...  None         S
1          1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...     C         C
2          3                             Heikkinen, Miss. Laina  ...  None         S
3          1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...     C         S
4          3                           Allen, Mr. William Henry  ...  None         S
...      ...                                                ...  ...   ...       ...
1304       3                                 Spector, Mr. Woolf  ...  None         S
1305       1                       Oliva y Ocana, Dona. Fermina  ...     C         C
1306       3                       Saether, Mr. Simon Sivertsen  ...  None         S
1307       3                                Ware, Mr. Frederick  ...  None         S
1308       3                           Peter, Master. Michael J  ...  None         C

[1309 rows x 10 columns]

In [91]:
def name_convert(s):
  s = s.split(",")[-1].split(".")[0]
  s = s.strip()
  return s
counts = data["Name"].apply(name_convert).value_counts()
whitelist = counts[counts > 50].index
def name_convert(s):
  s = s.split(",")[-1].split(".")[0]
  s = s.strip()
  if s in whitelist:
    return s
  else:
    return None 
data["Name"] = data["Name"].apply(name_convert)

In [92]:
#做one-hotencoding的語法：
data = pd.get_dummies(data)#取得所有的欄位
data = pd.get_dummies(data, columns=["Pclass"])#可做可不做，因傖等為大小關係型態#此行就是前面那行沒跑出Pclass，所以特別在加註一次要跑one-hot encoding
data

       Age  SibSp  Parch  Ticket  ...  Embarked_S  Pclass_1  Pclass_2  Pclass_3
0     22.0      1      0       1  ...           1         0         0         1
1     38.0      1      0       2  ...           0         1         0         0
2     26.0      0      0       1  ...           1         0         0         1
3     35.0      1      0       2  ...           1         1         0         0
4     35.0      0      0       1  ...           1         0         0         1
...    ...    ...    ...     ...  ...         ...       ...       ...       ...
1304  28.0      0      0       1  ...           1         0         0         1
1305  39.0      0      0       3  ...           0         1         0         0
1306  38.5      0      0       1  ...           1         0         0         1
1307  28.0      0      0       1  ...           1         0         0         1
1308  28.0      1      1       3  ...           0         0         0         1

[1309 rows x 25 columns]

In [93]:
#模型建立完，後續的嘗試，只是老師嘗試過，所以老師直接做
data["Family"] = data["SibSp"] + data["Parch"]#不可刪除SibSp和Parch#增加Family欄位
data

       Age  SibSp  Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0     22.0      1      0       1  ...         0         0         1       1
1     38.0      1      0       2  ...         1         0         0       1
2     26.0      0      0       1  ...         0         0         1       0
3     35.0      1      0       2  ...         1         0         0       1
4     35.0      0      0       1  ...         0         0         1       0
...    ...    ...    ...     ...  ...       ...       ...       ...     ...
1304  28.0      0      0       1  ...         0         0         1       0
1305  39.0      0      0       3  ...         1         0         0       0
1306  38.5      0      0       1  ...         0         0         1       0
1307  28.0      0      0       1  ...         0         0         1       0
1308  28.0      1      1       3  ...         0         0         1       2

[1309 rows x 26 columns]

In [94]:
print(len(data))
print(data.shape)#取得欄數和列數

1309
(1309, 26)

In [95]:
# .loc(根據列編號)(x)  .iloc(根據第幾個)(O)
# .iloc(第一列，第二列，第三列...)
x_train = data.iloc[:train_df.shape[0]]
y_train = train_df["Survived"]
# x_train
x_predict = data.iloc[train_df.shape[0]:]

In [96]:
'''RandomForestClassifier'''
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
params = {
    #參數方法：1. 5 ,2.[1,2,3] , 3.range
    "n_estimators":range(20,100),#20-99
    "max_depth":range(3,11)#3-10
}
clf = RandomForestClassifier()
cv = GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train,y_train)
print(cv.best_score_)
print(cv.best_params_)

0.8439950062421973
{'max_depth': 7, 'n_estimators': 29}

In [97]:
clf = RandomForestClassifier(n_estimators=9,max_depth=7)#可以參數自由調整看平均高的
scores = cross_val_score(clf,x_train,y_train, cv=10, n_jobs=-1)
print("10:",scores)
print("average:", np.average(scores))

10: [0.8        0.83146067 0.7752809  0.8988764  0.85393258 0.82022472
 0.85393258 0.7752809  0.85393258 0.85393258]
average: 0.8316853932584269

In [98]:
clf =RandomForestClassifier(n_estimators=9, max_depth=7)
clf.fit(x_train,y_train)
pre = clf.predict(x_predict)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("rf.csv",encoding="utf-8", index=False)
df

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]

In [100]:
'''Scaling 縮放方法，這裡使用方法：MinMaxSxaler'''
from sklearn.preprocessing import MinMaxScaler, StandardScaler, RobustScaler
scaler = MinMaxScaler()
data_scale = scaler.fit_transform(data)
data_scale = pd.DataFrame(data_scale, columns=data.columns)
# .loc(根據列編號)(x)  .iloc(根據第幾個)(O)
# .iloc(第一列，第二列，第三列...)
x_train_scale = data_scale.iloc[:train_df.shape[0]]
x_predict_scale = data_scale.iloc[train_df.shape[0]:]
x_train_scale

          Age  SibSp     Parch  Ticket  ...  Pclass_1  Pclass_2  Pclass_3  Family
0    0.273456  0.125  0.000000     0.0  ...       0.0       0.0       1.0     0.1
1    0.473882  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
2    0.323563  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
3    0.436302  0.125  0.000000     0.1  ...       1.0       0.0       0.0     0.1
4    0.436302  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0
..        ...    ...       ...     ...  ...       ...       ...       ...     ...
886  0.336089  0.000  0.000000     0.0  ...       0.0       1.0       0.0     0.0
887  0.235876  0.000  0.000000     0.0  ...       1.0       0.0       0.0     0.0
888  0.348616  0.125  0.222222     0.3  ...       0.0       0.0       1.0     0.3
889  0.323563  0.000  0.000000     0.0  ...       1.0       0.0       0.0     0.0
890  0.398722  0.000  0.000000     0.0  ...       0.0       0.0       1.0     0.0

[891 rows x 26 columns]

In [102]:
'''KNeighborsClassifier'''
from sklearn.neighbors import KNeighborsClassifier
params = {
    "n_neighbors":range(3,100),#3-99
}
clf = KNeighborsClassifier()
cv = GridSearchCV(clf, params, cv=10, n_jobs=-1)
cv.fit(x_train_scale,y_train)
print(cv.best_score_)
print(cv.best_params_)

0.832796504369538
{'n_neighbors': 7}

In [104]:
clf = KNeighborsClassifier (n_neighbors=11)
clf.fit(x_train_scale,y_train)
pre = clf.predict(x_predict_scale)
df = pd.DataFrame({
    "PassengerId":test_df["PassengerId"],
    "Survived":pre
})
df.to_csv("knn.csv",encoding="utf-8", index=False)
df

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]